<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modification de client</title>
</head>
<body>
    <h1>Modification de client</h1>
    <form method="post" action="/clients/<%= client.id %>">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" value="<%= client.email %>" required><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" value="<%= client.prenom %>" required><br>

        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" value="<%= client.nom %>" required><br>

        <label for="societe">Société :</label>
        <input type="text" id="societe" name="societe" value="<%= client.societe %>" required><br>

        <label for="pays">Pays :</label>
        <input type="text" id="pays" name="pays" value="<%= client.pays %>" required><br>

        <input type="submit" value="Modifier client">
    </form>
</body>
</html>
